class NewSaleButton extends React.Component {
  render() {
    return(
      <button className={"button"} onClick={this.props.handleNewSaleButtonClick}>
        <%= image_tag("button_image.png") %>
        <span>Adicionar negócio</span>
      </button>
    )
  }
}
