class NewSaleButton extends React.Component {
  render() {
    return(
      <button className={"button"}>
        <%= image_tag("button_image.png") %>
        Adicionar negócio
      </button>
    )
  }
}
